<html>
<head>

	<title>BAP Automatisering</title>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>

	<script src= "https://cdn.rawgit.com/showdownjs/showdown/1.5.0/dist/showdown.min.js"></script>

	<script src="javascripts/app.js"></script>

	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/BootstrapOverride.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body ng-app="theapp" ng-controller="myCtrl" class="HeaderColor">
	<div class="text-center" >
  		<div class="btn-toolbar pull-right">
    		<div class="btn-group">
     	 		<button ng-click="apiAllStudentsCall()" type='button' class="btn btn-lg SignIn-fix AccentColorSignIn">
     	 		apiCall
     	 		</button>
     	 		<button ng-click="SignIn()" type='button' class="btn btn-lg SignIn-fix AccentColorSignIn">
     	 		SignIn
     	 		</button>
    		</div>
  		</div>
  	<h2>BAP Automatisering</h2>
  	<div class="clearfix"></div>
	</div>
	
	<div class="container-fluid"> <!-- -fluid to make it use full width of page//-->

 	 	<div class="row">
 	 		<div class="col-md-4 col-lg-2 col-sm-4 col-xs-4 SecondaryColor">
 	 			<div id="SearchBar" class="input-group searchbar-fix">
    				<input id="SearchTerm" type="text" placeholder="Search" class="form-control">
    					<div class="input-group-btn">
    						<button class="btn btn-default" type="submit">
    							<i class="glyphicon glyphicon-search">
    							</i>
    						</button>
    					</div>
				</div>
				<div class="btn-group-vertical btn-width-fix" role="group">

					<div class="input-group list-fix">
					    <div class="panel panel-default">
					      	<div class="panel-heading">
					        	<h4 class="panel-title">
					          		<a data-toggle="collapse" href="#collapse1">
					          			Test Student info	
					          		</a>
					        	</h4>
					      	</div>
					      	<div id="collapse1" class="panel-collapse collapse">
					        	<div class="panel-body">
					        		<p>Name: {{SiteNaam}}</p>
					        		<p>GitName: {{getGitNaam}}</p>
					        		<p>Repo: {{getReponaam}}</p>
					        		<p>Promotor: {{getPromotor}}</p>
					        		<p>Phone: {{getPhone}}</p>
					        		<p>Address: {{getAddress}}</p>
									<a href="{{getRepoLink}}">Go To Repo</a>
					        	</div>
					      	</div>
					    </div>
					</div>

					<div ng-repeat="x in RepoNames" class="btn-group btn-width-fix" role="group">
						<button type="button" ng-click="do(x)" class="btn btn-default btn-block">
							{{x}}
						</button>
					</div>
						
 	 			</div>
 	 		</div>
 	 		<div class="col-md-8 col-lg-10 col-sm-8 col-xs-8 PrimaryColor">

 	 			<div>ProjectName Student name</div>

	 			<div class="btn-group btn-group-justified" role="group">
					<div ng-click="Btn_RepoStats()" class="btn-group" role="group">
					    <button type="button" class="btn" ng-class="{'true':'btn-primary','false':'btn-default'}[btnstate_repostats]">
					    RepoStats
					    </button>
					</div>
					<div ng-click="Btn_RepoHulp()" class="btn-group" role="group">
					    <button type="button" class="btn" ng-class="{'true':'btn-primary','false':'btn-default'}[btnstate_Repohulp]">
					    RepoHulp
					    </button>
					</div>
					<div ng-click="Btn_Scriptie()" class="btn-group" role="group">
					    <button type="button" class="btn" ng-class="{'true':'btn-primary','false':'btn-default'}[btnstate_Scriptie]">
					    Scriptie
					    </button>
					</div>
				</div>

				<div class="panel-body" ng-switch="div_value">
					<div ng-switch-when="1" class="my-switch-animation">
						<div ng-click="GetFile()" class="btn-group" role="group">
							<button type="button" class="btn btn-danger">Get Student info</button>
						</div>
						<p>Name: {{SiteNaam}}</p>
					    <p>GitName: {{getGitNaam}}</p>
					    <p>Repo: {{getReponaam}}</p>
					    <p>Promotor: {{getPromotor}}</p>
					    <p>Phone: {{getPhone}}</p>
					    <p>Address: {{getAddress}}</p>
					    <a href="{{getRepoLink}}">Go To Repo</a>	
					</div>
					<div ng-switch-when="2" class="my-switch-animation">
						<p>This Weeks Commits: {{LastCommithtml}}</p>
						<p>Total Commits: {{TotalCommithtml}}</p>
						<button ng-click="GetCommits()"> View Commits</button>
						<div ng-repeat="StudentCommit in AllCommits track by $index">
							<li ng-click="SelectCommit($index)">Commit: {{StudentCommit}} </li>
						</div>
						<div ng-click="RepoInfo()" class="btn-group" role="group">
							<button type="button" class="btn btn-success">Get Repo Info</button>
						</div>
					</div>
					<div ng-switch-when="3" class="my-switch-animation">
						<div ng-click="GetScriptie()" class="btn-group" role="group">
							<button type="button" class="btn btn-success">Get Scriptie</button>
						</div>
						<div ng-bind-html = "ScriptieData">

						</div>
					</div>
				</div>
 	 		</div>
 	 	</div> 
 	</div> 
</body>
</html>